body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
  width: 600px;
  height: 350px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: none;
}

button {
  margin: 0.5rem;
  width: 100%;
  padding: 15px;
  background: #22c55e;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #16a34a;
}

#result {
  margin-top: 40px;
  font-size: 25px;
}
select {
  width: 103%;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: none;
  max-height: 120px;
  overflow-y: auto;
}
